table {
  width: 500px;
  border-bottom: 4px solid #0044ff;
}
table thead {
  background-color: #0044ff;
  text-align: center;
}

th {
  color: #ffffff;
}

table tbody td {
  border-bottom: 1px solid #0044ff;
}

table tbody tr:last-child td {
  border: 0px;
}

table tbody td:hover {
  cursor: pointer;
  background-color: #0044ff94;
}
